<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302188976377-c35re2taemo4uj2kum92491mtl4asbfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302188976377-c35re2taemo4uj2kum92491mtl4asbfr</string>
	<key>API_KEY</key>
	<string>AIzaSyBtuR7nhOtmC7_bcm-leM6ilxJcs92u3bs</string>
	<key>GCM_SENDER_ID</key>
	<string>302188976377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brsrld.EcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-e8720</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-e8720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302188976377:ios:80734d78d0b2b6618faa28</string>
</dict>
</plist>